trigger:
- main

pool:
  name: 'LocalPool'

variables:
  imageName: 'devops-lab-test'

steps:
- checkout: self

- task: Docker@2
  displayName: 'Build and Push Docker image'
  inputs:
    containerRegistry: 'dockerhub-connection'
    repository: 'yourdockerhubusername/devops-lab-test'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      latest
      $(Build.BuildId)
