trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: 'myapp'

steps:
- task: Docker@2
  displayName: Build and Push Docker image
  inputs:
    command: buildAndPush
    repository: $(imageName)
    dockerfile: '**/Dockerfile'
    containerRegistry: 'dockerhub-connection'
    tags: |
      latest
      $(Build.BuildId)
