pool:
  name: "LocalPool"

steps:
  - task: Docker@2
    displayName: Build and push Docker image
    inputs:
      command: buildAndPush
      containerRegistry: "dockerhub-connection"
      repository: "austinlambdin/devops-lab-test"
      dockerfile: "Dockerfile"
      buildContext: "$(Build.SourcesDirectory)"
      tags: |
        latest
        $(Build.BuildNumber)
